//audionavigation

.container {
  display: grid;
  position: relative;
  height: 50vh;
  width: auto;
  padding: 15px;
  border: 1px solid red;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    'navbar navbar navbar navbar navbar'
    '. chapter infoarea infoarea infoarea'
    '. . infoarea infoarea infoarea'
    '. . . . .'
    'pause . . . .';
}

.navbarItem {
  grid-area: navbar;
  --progress: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 0;

  border-top: 1px solid #fff;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    transform: scaleX(var(--progress));
    transform-origin: left;
  }
}

.navbarItem button {
  align-self: end;
  position: relative;
  appearance: none;
  transform: rotate(-90deg);
  min-width: 68px;
  min-height: 20px;
  border-top: 1px solid #fff;
  color: white;
  background: none;
  padding-top: 10px;
  padding-right: 10px;
  text-align: left;
}

.navbarItem a:first-of-type {
  border-top: none;
}

.infoarea {
  grid-area: infoarea;
}

.pause {
  grid-area: pause;
  align-self: end;

  button {
    border: none;
    background-color: transparent;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    cursor: pointer;
    color: #fff;
    width: fit-content;
  }
}

.chapter {
  grid-area: chapter;
  text-align: right;
}

.contact {
  grid-area: contact;
  position: absolute;
  width: 150px;
  bottom: 0;
  border: 1px solid red;
}
